{% extends 'base.html' %}

{% block title %}Homepage{% endblock title %}

{% block content %}

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Student</th>
        <th scope="col">subjects</th>
        <th scope="col">School year</th>
        <th scope="col">Date</th>
    </tr>
    </thead>
    <tbody>
    {%for dat in data%}
    <tr>
        <th scope="row">1</th>
        <td>{{dat.std}}</td>
        <td>{% for subject in dat.subject.all %} <span>{{ subject.name }}</span> {% endfor %}</td>
        <td>{{dat.school_year}}</td>
        <td>{{dat.date}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}

